$light-color: #fffdfa;
$gray-color: #cccac8;
$dark-color: #191919;
$dark-light-color: #262626;

$brand-color: #37ff8b;
$brand-color-trans: #37ff8b40;

$blue-color: #3772ff;
$blue-color-trans: #3773ff40;

$orange-color: #fa9f42;
$orange-color-trans: #fa9f4240;

$pink-color: #ff1654;
$pink-color-trans: #ff165440;


$breakpoint-lg: 720px;
$breakpoint-md: 500px;
$breakpoint-sm: 400px;


$disabled-color: #adadad;
$code-color: #1e1e1e;

$cont-warning-color: #e7c000;
$cont-warning-background: rgba(255, 229, 100, 0.25);