$light-color: #fffdfa;
$gray-color: #b3b1af;
$dark-color: #191919;
$dark-light-color: #262626;

$brand-color: #37ff8b;
$blue-color: #3772ff;
$orange-color: #fa9f42;
$pink-color: #ff1654;


$breakpoint-lg: 720px;
$breakpoint-md: 500px;
$breakpoint-sm: 400px;


$disabled-color: #adadad;
$code-color: #1e1e1e;

$cont-warning-color: #e7c000;
$cont-warning-background: rgba(255, 229, 100, 0.25);

$cont-tip-color: #42b983;
$cont-tip-background: rgba(66, 185, 131, 0.25);