<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<link href="https://fonts.googleapis.com/css?family=JetBrains+Mono" rel="stylesheet" />

<link rel="shortcut icon" href="/favicon.png" />
<title>Devblog | Helgesson.dev</title>