<div class="header">
    <h1><a href="/"><span class="brand">blog.</span>helgesson.dev</a></h1>
    <div class="links">
        <p>Posts</p>
    </div>
</div>
<div class="seperator" />

<style lang="scss">
    .header {
        width: calc(100% - 4rem);
        max-width: 800px;

        margin-inline: auto;
        margin-top: 1rem;
        margin-bottom: 0.8rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $breakpoint-md) {
            justify-content: center;
        }

        h1 {
            font-size: var(--font-header);
            font-weight: 400;
        }

        .links {
            p {
                font-size: var(--font-heading);
                font-weight: 200;
            }

            @media screen and (max-width: $breakpoint-md) {
                display: none;
            }
        }
    }


    .brand {
        color: $brand-color;
    }

    .seperator {
        height: 4px;
        width: 100%;

        margin-bottom: 4rem;

        background-color: $dark-light-color;
    }
</style>