---
import '../styles/app.scss';

import Header from '../components/Header.astro';
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">

<head>
    <BaseHead />
</head>

<body>
    <Header />
    <div class="wrapper">
        <slot />
    </div>
</body>

</html>

<style lang="scss" is:global>
    @import '../styles/variables.scss';
</style>

<style lang="scss">
    .wrapper {
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>